footer {
	padding: 18px;
	width: 100%;
	background-color: #000000;
	color: #fefefe;
	line-height: 1.9;
}

/* Domyślnie ukryty tekst */
footer .fade-text {
	opacity: 0;
	transition: opacity 2s ease-in-out;
}

/* Widoczny tekst po dodaniu klasy */
footer .fade-text.show {
	opacity: 1;
}

.link-style {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}

.copyright-style {
	margin-bottom: 10px;
	font-size: 12px;
	line-height: 1;
}

/* dostosuj układ do tabletów i większych */
@media (min-width: 640px) {
	.footer {
	}
}

/* np. styl dla laptopów */
@media (min-width: 1024px) {
	.footer {
	}
}

/* np. dla dużych monitorów */
@media (min-width: 1200px) {
	.footer {
	}
}
